.html2theme .toolbar {
  padding: 4px 0 4px 0;
  margin: 0 0 5px 0;
}

.html2theme button {
  display: block;
  float: left;
  margin: 0 7px 0 0;
  background-color: #f5f5f5;
  border: 1px solid #dedede;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
  font-size: 100%;
  line-height: 130%;
  text-decoration: none;
  font-weight: bold;
  color: #565656;
  cursor: pointer;
  padding: 5px 10px 6px 7px; /* Links */
  width:auto;
  overflow:visible;
  padding:4px 10px 3px 7px; /* IE6 */
}
.html2theme .buttons button[type] {
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
}

*:first-child+html .html2theme button[type] {
    padding:4px 10px 3px 7px; /* IE7 */
}

.html2theme button img {
    margin: 0 3px -3px 0 !important;
    padding: 0;
    border: none;
    width: 16px;
    height: 16px;
}

.html2theme button:hover {
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}

.html2theme button.positive:hover{
    background-color:#e6efc2;
    border:1px solid #c6d880;
    color:#529214;
}

.html2theme button.negative:hover{
    background:#fbe3e4;
    border:1px solid #fbc2c4;
    color:#d12f19;
}

.html2theme button[disabled] {
  display: none;
}

.html2theme .toolbar label {
  display: inline-block;
}

.html2theme fieldset {
  padding: 0;
}

.html2theme legend {
  margin-left: 5px;
  padding: 0 3px;
}

#html2theme-selection-display .selected {
  background-color: #383;
}

#html2theme-editor-history{
  width: 100%;
  border: 1px solid #dedede;
}

#html2theme-insert-dialog {
  position: absolute;
  display: none;
  background-color: #fff;
  border: 1px solid #dedede;
  padding: 5px;
  min-width: 200px;
}

#html2theme-insert-dialog #html2theme-cansel-insert{
  float: right;
}

#html2theme-edit-form {
  float: right;
}
